# Dependencies
node_modules

# Build output
dist

# Prisma
node_modules/.prisma

# Development
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.md

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Docker
Dockerfile*
docker-compose*
