DATABASE_URL=mysql://root:yourpassword@mysql:3306/codefit

JWT_SECRET=your_jwt_secret

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

GEMINI_API_KEY=

SEPAY_MERCHANT_ID=
SEPAY_SECRET_KEY=
SEPAY_ENV=sandbox

SEPAY_IPN_URL=http://localhost:5000/api/payment/sepay/ipn

FRONTEND_URL=http://localhost:8000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=